{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="dashboard">
    <h2>Live Temperature Readings</h2>
    <div id="readings">
        {% for reading in readings %}
            <div id="card">
                <div class="card-group">
                    <p id="sensor-name">{{ reading[2].capitalize() }}</p>
                </div>
                <div class="card-group">
                    <h3 id="temperature">{{ reading[4] }}&#8451;</h3>
                </div>
                <div class="card-group">
                    <p id="location">{{ reading[3] }}</p>
                    <p id="timestamp">{{ reading[5] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
#dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#readings {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#card {
    width: 10vw;
    aspect-ratio: 1 / 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
}

</style>
{% endblock %}