<nav>
    <div class="nav-group">
        <p>JCOD</p>
    </div>
    <div class="nav-group">
        <a href="{{ url_for('dashboard') }}">DASHBOARD</a>
        {% if session.get('is_admin') %}
        <a href="{{ url_for('readings') }}">READINGS</a>
        <a href="{{ url_for('admin_centre') }}">ADMIN CENTRE</a>
        {% endif %}
        {% request.endpoint %}
    </div>
    <div class="nav-group">
        <a href="{{ url_for('logout') }}">LOG OUT</a>
    </div>
</nav>

<style>
nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #C5C5C5;
    padding: 25px;
}

.nav-group {
    display: flex;
    gap: 50px;
    color: var(--black);
}

a, p {
    text-decoration: none;
    margin: 0;
}
</style>