{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div id="dashboard">
    <h2>Live Temperature Readings</h2>
    <div id="readings">
        {% for reading in readings %}
            <div class="card" 
                 data-temperature="{{ reading[4] }}">
                <div class="card-group">
                    <p class="sensor-name">{{ reading[2].capitalize() }}</p>
                </div>
                <div class="card-group">
                    <h3 class="temperature">{{ reading[4] }}&#8451;</h3>
                </div>
                <div class="card-group">
                    <p class="location">{{ reading[3] }}</p>
                    <p class="timestamp">{{ reading[5] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<style>
#dashboard {
    width: calc(100vw - 50px);
    height: calc(100vh - 120px);
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    overflow-y: scroll;
    padding: 25px;
    background-color: rgb(241, 241, 241);
}

h2 {
    font-size: 30px;
}

#readings {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.card {
    width: 200px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6); /* Default color */
    color: white;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    gap: 5px;
    transition: background-color 0.3s ease; /* Smooth color transition */
}

.card.red-background {
    background: rgb(219,12,1);
    background: linear-gradient(90deg, rgba(219,12,1,1) 17%, rgba(251,154,154,1) 90%);   /* Red if temperature > 25°C */
}

.card.blue-background {
    background: rgb(33,65,229);
    background: linear-gradient(90deg, rgba(33,65,229,1) 17%, rgba(190,204,255,1) 90%);   /* Blue if temperature < 18°C */
}

.card.yellow-background {
    background: rgb(229, 111, 33);
    background: linear-gradient(90deg, rgb(229, 138, 33) 17%, rgba(190,204,255,1) 100%);   /* Blue if temperature < 18°C */
}

.temperature {
    font-size: 40px;
}

.location, .timestamp {
    font-size: 15px;
    color: #969696;
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const cards = document.querySelectorAll('.card');

        cards.forEach(card => {
            const temperature = parseFloat(card.getAttribute('data-temperature'));

            // Change the card color based on temperature
            if (temperature > 20) {
                card.classList.add('red-background');
            } else if (temperature < 20) {
                card.classList.add('blue-background');
            }
               else if (temperature == 20 ){
                card.classList.add('yellow-background')
               }
            
        });
    });
</script>

{% endblock %}
